[Unit]
Description=Doorbell
After=network.target sound.target

[Service]
ExecStart=/usr/bin/node /opt/doorbell/index.js
WorkingDirectory=/opt/doorbell
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/doorbell/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
